# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ovhaigzawgacgvbmuatz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92aGFpZ3phd2dhY2d2Ym11YXR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2NDk2ODcsImV4cCI6MjA3NjIyNTY4N30.UZOLt6IHrvw_Wxl9pj3bWLjjYHPCkGJ8DWgq5anJXqk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92aGFpZ3phd2dhY2d2Ym11YXR6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDY0OTY4NywiZXhwIjoyMDc2MjI1Njg3fQ.EUwwKif-E1EikBUu0YMJC4by-ifNm-CwyP3kjJZZqvQ
